{% extends 'ads/base.html' %}

{% block content %}
<h2>Создать предложение обмена</h2>
<form method="post">
    {% csrf_token %}
    <label for="ad_sender_id">Ваше объявление:</label>
    <select name="ad_sender_id">
        {% for ad in user_ads %}
            <option value="{{ ad.id }}">{{ ad.title }}</option>
        {% endfor %}
    </select>
    <label for="ad_receiver_id">Объявление получателя:</label>
    <select name="ad_receiver_id">
        {% for ad in other_ads %}
            <option value="{{ ad.id }}">{{ ad.title }}</option>
        {% endfor %}
    </select>
    <label for="comment">Комментарий:</label>
    <textarea name="comment"></textarea>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}